* {
    margin: 0;
    padding: 0;
}

a,
button {
    text-decoration: none !important;
}

.icons {
    font-size: 20px;
    cursor: pointer;
}

input {
    margin-bottom: 20px !important;
}

@media (max-width: 990px) {
    #desktop-profile {
        display: none;
    }
    #mobile-profile {
        display: block;
    }
}

@media (min-width: 991px) {
    #mobile-profile {
        display: none;
    }
}

.scrollbar {
    overflow-y: scroll;
    height: 170px;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-corner {
    background-color: #f0f0f0;
}